<!doctype html>

{% load static %}

<html lang="en">
<head>
	<!-- Required meta tags -->
	<base href="/">
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  	<title>Creativeland Asia Virtual Office</title>
  	
  	<link rel="shortcut icon" href="{% static 'ang/assets/images/favicon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'ang/assets/images/favicon.png' %}">
  	
  	<!--  -->
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Link to your css file -->
    <link rel="stylesheet" href="{% static 'ang/assets/css/style.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'ang/styles.css' %}"></head>

	<body>
		<app-root></app-root>
		
		
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="{% static "js/Basic.js" %}"></script>
		<script src="{% static "js/ServerConnection.js" %}"></script>
		<script src="{% static "js/Call.js" %}"></script>
		<script src="{% static "js/CallConnection.js" %}"></script>
		
		<script type="text/javascript" src="{% static 'ang/runtime.js' %}"></script>
		<script type="text/javascript" src="{% static 'ang/polyfills.js' %}"></script>
		<script type="text/javascript" src="{% static 'ang/main.js' %}"></script>
	</body>

</html>