<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>VOFFice</title>
</head>
<body>

{% block title %}Login{% endblock %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
{% endblock %}

</body>
</html>