<!DOCTYPE html>
<html>
<head>

	
	{% load static %}

	<meta charset="ISO-8859-1">
	<title>VOFFice</title>
	
	<style type="text/css">
	
	
	</style>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<script src="{% static "VOfficeApp/js/Basic.js" %}"></script>
	<script src="{% static "VOfficeApp/js/ServerConnection.js" %}"></script>
	

	<script type="text/javascript">
	
		var messages;
		
		function setAudio(index) {
			
			getData("downloadAudioMessage/" + index , function(data) {
				console.log(data);
			});
				
			/*dataString = window.atob(messages[index].data);
	        uint8Array = new Uint8Array(messages[index].data.length);
	        
	        console.log(messages[index].data.length);
	        
	        const byteCharacters = atob(messages[index].data);
	        
	        const byteNumbers = new Array(byteCharacters.length);
	        for (let i = 0; i < byteCharacters.length; i++) {
	            byteNumbers[i] = byteCharacters.charCodeAt(i);
	        }
	        const byteArray = new Uint8Array(byteNumbers);
	        
			const superBuffer = new Blob(byteArray, { 'type' : 'audio/webm;codecs=opus' });

	        console.log(superBuffer);
			//console.log(window.URL.createObjectURL(superBuffer));
			$("#audio_" + index)[0].src = window.URL.createObjectURL(superBuffer);	*/				
		}
		function update() {
			getData("listAudioMessage" , function(data) {
				
				messages = data.messages;
				var html = '';
				
				for(var i = 0; i < data.messages.length; i++) {
										
					html += '<div>';
					html += '<button onclick=setAudio(' + data.messages[i].id + ')>Play ' + data.messages[i].id + '</button>';
					html += '<audio id="audio_' + data.messages[i].id + '" controls '
					html += 'src="/downloadAudioMessage/' + data.messages[i].id  + '"';
					html += '</audio>';
					html += '</div>';
				}
				
				$("#audios").html(html);
				
				
			});
		}
		
		$(document).ready(function () {			
						
			update();
			
			
			
		});
	</script>
</head>
<body>
	<div id="audios"></div>
</body>
</html>