<!DOCTYPE html>
<html>
<head>

	
	{% load static %}

	<meta charset="ISO-8859-1">
	<title>VOFFice</title>
	
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<script src="{% static "js/Basic.js" %}"></script>

	<script type="text/javascript">
	
		function testAddBranch(branches) {

			var html = '<ul>';
			for(var b = 0; b < branches.length; b++) {
				html += '<li>';
				html += '<button onclick="testAddLevel(' + branches[b].id  + ',\'branch\')">' + branches[b].name + '</button>';	
				html += '<ul>';
				for(var d = 0; d < branches[b].departments.length; d++) {
	
					html += '<li>';
					html += branches[b].departments[d].name;				
					html += '</li>';
				}	
				
				html += '</ul>';
				html += '</li>';
			}
			html += '</ul>';
			return html;
		}
		function testAddBranchSelect(branches, space) {

			var html = '';
			
			
			for(var b = 0; b < branches.length; b++) {

				html += fillSpace(space) + '<input type="radio" name="testSelectLevel" levelType="branch" levelId=' + branches[b].id + '>';
				html += branches[b].name;
				html += '<br/>';

				html += testGetUserList(branches[b].users, space + 1);
				
				for(var d = 0; d < branches[b].departments.length; d++) {
	
					html += fillSpace(space + 1) + '<input type="radio" name="testSelectLevel" levelType="department" levelId=' + branches[b].departments[d].id + '>';

					html += branches[b].departments[d].name;	
					html += '<br/>';
					var users = branches[b].departments[d].users;
					html += testGetUserList(users, space + 2);
					
					
				}	
				
			}

			return html;
		}
		function testGetUserList(users, space) {
			
			var html = '';
			
			for(var u = 0; u < users.length; u++) {

				html += fillSpace(space) + '-' + users[u].email + "(" + users[u].id + ")";
				html += '<input type="radio" name="testSelectUser" userId=' + users[u].id + '>';
				
				html += '<br/>';
			}

			return html;
		}
		function testAddLevel(parentId, parentType) {
			
			sendData("addLevel" , {
				name: $('#testNewLevelName').val(),
				parent: parentId,
				parentType: parentType,
				isGroup: $('#testCheckGroup').prop("checked")
			}, function(){	
				$('#testEmail').val("");
			});
		}
		function fillSpace(count) {
			var out = "";
			
			for(var i = 0; i < count * 5; i++) {
				out += "&nbsp;"
			}
			
			return out;
		}
		$(document).ready(function () {
						
			
			$("#testAddUser").click(function () {
				
				var designation = $("#designationSelect").find(":selected")[0].value;
				console.log(designation);
				sendData("addUser" , {
					email: $('#testEmail').val(),
					firstname: $('#testFirstname').val(),
					lastname: $('#testLastname').val(),
					type: $("#testUserTypeSelect").val(),
					designation: designation
				}, function(){	
					$('#testEmail').val("");
				});
			});
			
			getData("listLevels" , function(data) {
				
				
				var html = '<ul>';
				html += '<li><button onclick="testAddLevel(-1,\'company\')">' + data.name + '</button></li>';
				html += testAddBranch(data.branches)
				html += '<ul>';
				for(var g = 0; g < data.groups.length; g++) {
					html += '<li>';
					html += '<button onclick="testAddLevel(' + data.groups[g].id  + ',\'group\')">' + data.groups[g].name + '</button>';	
					html += testAddBranch(data.groups[g].branches);
					html += '</li>';
				}
				html += '</ul>';
				html += '</ul>';
				
				
				$("#testLevels").html(html);
			});
			
			getData("listLevels" , function(data) {
				
				var html = '';
				html += '<input type="radio" name="testSelectLevel" levelType="company" levelId=-1>';
				html += data.name;
				html += '<br/>';
				html += testGetUserList(data.users, 1);
				html += testAddBranchSelect(data.branches , 1);		
				
				for(var g = 0; g < data.groups.length; g++) {

					html += fillSpace(1) + '<input type="radio" name="testSelectLevel" levelType="group" levelId=' + data.groups[g].id + '>';
					html += data.groups[g].name;	
					html += '<br/>';
					html += testGetUserList(data.groups[g].users, 2);
					html += testAddBranchSelect(data.groups[g].branches, 2);
				}
										
				
				$("#testAssign").html(html);
			});
			getData("listNotAssignEmployees" , function(data) {
								
				var html = '';
				
				for(var u = 0; u < data.users.length; u++) {
					html += '<input type="radio" name="testSelectUser" userId=' + data.users[u].id + '>';
					html += data.users[u].email;	
					html += '<br/>';
				}

				$("#testSelect").html(html);
			});
			/*getData("getPermissionData" , function(data) {
				
				var html = '';
				for (var i = 0; i < data.designations.length; i++) {					
					
					html += '<option';					
					html += ' value="' + data.designations[i].id + '"';						
					html += '>';	
					html += data.designations[i].name;								
					html += '</option>';
				}
				
				$("#designationSelect").html(html);
			});	*/
			$("#testAssignButton").click(function () {
				
				sendData("assignUser" , {
					user: $("input[name='testSelectUser']:checked").attr("userId"),
					type: $("input[name='testSelectLevel']:checked").attr("levelType"),
					level: $("input[name='testSelectLevel']:checked").attr("levelId")
				}, function(){					
				});
				
			});
			
		});
	</script>
</head>
<body>

	---------------------------------------------------------------
	<p/>
	
	<select id="testUserTypeSelect">
		<option>employee</option>
		<option>guest</option>
		<option>client</option>
		<option>vendor</option>
	</select>
	<form>
		email: <input type="text" id="testEmail" name="email"/>
		firstname: <input type="text" id="testFirstname" value="firstname"/>
		lastname: <input type="text" id="testLastname" value="lastname"/>
		<select id="designationSelect"></select>
	</form>
	<button id="testAddUser" >CreateUser</button><br>
	-----------------------------------------------------------------------------
	<p/>
	<div id="testAssign">
	</div>
	
	<button id="testAssignButton" >Assign</button>
	
	<div id="testSelect">
	</div>
</body>
</html>