<!DOCTYPE html>
<html>
<head>

	
	{% load static %}

	<meta charset="ISO-8859-1">
	<title>VOFFice</title>
	
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<script src="{% static "VOfficeApp/js/Basic.js" %}"></script>
	<style type="text/css">
		.testFrame{
			border-style: solid;
			margin: 4px;
			float: left;
			width:100%;
			height:50vh;
			border-radius: 10px;			
		}
		.testFolder{
			border-style: solid;
			margin: 4px;
			float: left;
			width: 150px;
			height: 150px;
			border-radius: 10px;
			text-align: center;
			background-color: orange;
		}
		.testFile{
			border-style: solid;
			margin: 4px;
			float: left;
			width: 150px;
			height: 150px;
			border-radius: 10px;
			text-align: center;
		}
	</style>
	<script type="text/javascript">

		var folderMap = {}
		
		var folderOpen = [];
		var fileList = null;
		
		function getPath() {
			
			var path = "";
			var sep = "";
			
			for(var i = 0; i < folderOpen.length; i++) {	
				
				path += sep;	
				path += folderOpen[i];	
				sep = "/";
			}
			
			return path;
		}
				
		function parseFolder(folder) {

			var folders = folder.split("/");
			var current = folderMap;
			
			for(var f = 0; f < folders.length; f++) {		
				
				var name = folders[f];
				
				if(current[name] == null) {
					current[name] = {}
				}
				current = current[name];
				
			}

		}
		function openFolder(name) {			
			
			folderOpen.push(name);
			
			drawFolders();
			
		}
		function goBack(index) {
			
			while(folderOpen.length > index) {
				folderOpen.pop();
			}
			drawFolders();
		}
		
		function appendFiles() {
			
			var path = getPath();		
			
			var html = "";
			
			for(var i = 0; i < fileList.length; i++) {					
				if(fileList[i].path == path) {
					html += '<div class="testFile">';
					html += '<a href="/downloadFile/';
					html += fileList[i].id + '">';					
					html += fileList[i].name;
					html += "</a>";
					html += "<br>";
					html += '<input type="radio" name="selectFile" fileId=' + fileList[i].id + '>'
					html += '</input>Share';
					html += "</div>";
				}
			}
			
			return html;
		}
		function drawFolders() {
			
			var current = folderMap;
			
			for(var i = 0; i < folderOpen.length; i++) {					
				current = current[folderOpen[i]];	
			}
			
			var html = "";
			
			for(var f in current) {
				html += '<div class="testFolder">' + f;	
				html += '</p>';
				html += '<button onclick=\'openFolder("' + f + '")\'>Open</button>';
				html += '</div>';
			}
			
			html += appendFiles();
			
			$("#folderStructure").html(html);
			
			var folderHtml = "";
			folderHtml += '<a href="#" onclick="goBack(0)">root</a>';
			
			for(var i = 0; i < folderOpen.length; i++) {	
				folderHtml += "/"
				folderHtml += '<a href="#" onclick="goBack(' + i + 1+ ')">';
				folderHtml += folderOpen[i];	
				folderHtml += "</a>"
			}
			
			$("#folderHeading").html(folderHtml);
		}
		
		function updateFolders() {
			getData("listFolders" , function(data) {
				
				for(var i = 0; i < data.folders.length; i++) {					
					parseFolder(data.folders[i]);
				}
				
				drawFolders();
					
			});
		}
		/////////
		function fillSpace(count) {
			var out = "";
			
			for(var i = 0; i < count * 5; i++) {
				out += "&nbsp;"
			}
			
			return out;
		}
		function testAddBranchSelect(branches, space) {

			var html = '';			
			
			for(var b = 0; b < branches.length; b++) {

				html += fillSpace(space) + '<input type="radio" name="testSelectLevel" levelType="branch" levelId=' + branches[b].id + '>';
				html += branches[b].name;
				html += '<br/>';

				
				for(var d = 0; d < branches[b].departments.length; d++) {
	
					html += fillSpace(space + 1) + '<input type="radio" name="testSelectLevel" levelType="department" levelId=' + branches[b].departments[d].id + '>';

					html += branches[b].departments[d].name;	
					html += '<br/>';					
					
				}				
			}
			return html;
		}
		$(document).ready(function () {			
			
			
			
			getData("listFiles" , function(data) {	
				
				fileList = data.files;				
				
				updateFolders();
					
			});
			
			getData("listLevels" , function(data) {
				
				var html = '';
				html += '<input type="radio" name="testSelectLevel" levelType="company" levelId=-1>';
				html += data.name;
				html += '<br/>';
				html += testAddBranchSelect(data.branches , 1);		
				
				for(var g = 0; g < data.groups.length; g++) {

					html += fillSpace(1) + '<input type="radio" name="testSelectLevel" levelType="group" levelId=' + data.groups[g].id + '>';
					html += data.groups[g].name;	
					html += '<br/>';
					html += testAddBranchSelect(data.groups[g].branches, 2);
				}
										
				
				$("#companyContainer").html(html);
			});
			
			$("#addFolderButton").click(function () {
				
				var path = "";
				
				for(var i = 0; i < folderOpen.length; i++) {	
					
					path += folderOpen[i];	
					path += "/";
				}
				
				path += $("#newFolderName").val();
				
				console.log(path);
				
				sendData("addFolder" , {
					path: path
				}, function(){	
					updateFolders();
				});
				
			});
			$("#backButton").click(function () {

				folderOpen.pop();
				
				drawFolders();
			});
			$("#uploadButton").click(function () {
				

				var path = getPath();
				var files = $('#file')[0].files[0]; 
				uploadFile(files, path);
			});
			$("#shareButton").click(function () {
				
				var levelId = $("input[name='testSelectLevel']:checked").attr("levelId")
				var levelType = $("input[name='testSelectLevel']:checked").attr("levelType")
				var fileId = $("input[name='selectFile']:checked").attr("fileId")
				
				sendData("shareFileLevel" , {
					level: levelId,
					type: levelType,
					file: fileId
				}, function(){	
					
				});
			});
		});
	</script>
</head>
<body>

	<form method="Post" action='{% url "logoutView" %}'>
		{% csrf_token %}
		<button type="submit" >Logout</button>
	</form>	
	<br/>
	---------------------------------------------------------------
	<p/>
	
	<input type="file" name="file" id="file">
    <button id="uploadButton">Upload</button>
    
	<p/>
    
    <input type="text" id="newFolderName"/>
    <button id="addFolderButton">Add Folder</button>
    <p>
    <div id="folderHeading">/</div>
    <button id="backButton">back</button>
    <div id="folderStructure" class="testFrame"></div>
  
  	<div id="companyContainer"></div>
    <button id="shareButton">Share</button>
</body>
</html>