<!DOCTYPE html>
<html>
<head>

	
	{% load static %}

	<meta charset="ISO-8859-1">
	<title>VOFFice</title>
	
	<style type="text/css">
	
	
	</style>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<script src="{% static "VOfficeApp/js/Basic.js" %}"></script>
	<script src="{% static "VOfficeApp/js/ServerConnection.js" %}"></script>
	
	<script src="{% static "VOfficeApp/js/CallConnection.js" %}"></script>
	<script src="{% static "VOfficeApp/js/Call.js" %}"></script>

	<script type="text/javascript">
	
		//var ownId = {{ user_id }};
		
		///////////////////////////////
		var employeeMap = null;
		var serverConnection = null;
		
		var currentCall = null;		
		
		var participants = []
		
		var defaultUrl = "../static/VOfficeApp/images/default_avatar.png";
				
		function joinCall(callId) {
			
			currentCall = new Call(serverConnection);
			
			currentCall.addScreenShare().then(function (){			
			
				serverConnection.send({
					type:'signal', signal: 'join' , call: callId});
			});
		}
		function update() {
			getData("listUsers/employee" , function(data) {
								
				employeeMap = data.users;
				
				getData("listCalls" , function(data) {
					
					console.log(data);
					
					var html = '';
					
					for(var i = 0; i < data.calls.length;i++) {
						
						html += '<button onclick="joinCall(' + data.calls[i].id + ')">';
						html += 'Join call ';
						html += data.calls[i].title;
						html += '</button>';
					}
					
					$("#callContainer").html(html);
				});	
			});	
		}
		function updateParticipants() {
			
			var html = '';
			
			for(var i = 0;i < participants.length;i++) {
				
				html += employeeMap[participants[i]].firstname + "<br>"
			}
			$("#participantsContainer").html(html);
			
		}
		///
		var recordedBlobs = [];
		var mediaRecorder;
		function handleDataAvailable(event) {
		  if (event.data && event.data.size > 0) {
			  console.log('handleDataAvailable', event);
		    recordedBlobs.push(event.data);
		  }
		}
		///
		$(document).ready(function () {			
						
			update();
			
			
			$("#startCall").click(function () {
				
				
				serverConnection.send({
					type:'signal', 
					signal: 'create' , 
					title:$("#newCallText").val()
				});
				
				setTimeout(update, 500);
			});
			$("#testRecord").click(function () {
				const constraints = {
					    audio: {
					      //echoCancellation: {exact: hasEchoCancellation}
					    },
					    video: false
					  };
				
				navigator.mediaDevices.getUserMedia(constraints).then(function (stream){
					
					console.log(stream);
					
					/*let options = {mimeType: 'video/webm;codecs=vp9,opus'};
					if (!MediaRecorder.isTypeSupported(options.mimeType)) {
					  console.error(`${options.mimeType} is not supported`);
					  options = {mimeType: 'video/webm;codecs=vp8,opus'};
					  if (!MediaRecorder.isTypeSupported(options.mimeType)) {
					    console.error(`${options.mimeType} is not supported`);
					    options = {mimeType: 'video/webm'};
					    if (!MediaRecorder.isTypeSupported(options.mimeType)) {
					      console.error(`${options.mimeType} is not supported`);
					      options = {mimeType: ''};
					    }
					  }
					}
					
					options = {mimeType: 'opus'};
					if (!MediaRecorder.isTypeSupported(options.mimeType)) {
						console.log("eee")
					}
					console.log(options);*/
					mediaRecorder = new MediaRecorder(stream);
					
					mediaRecorder.onstop = (event) => {
					    console.log('Recorder stopped: ', event);
					    console.log('Recorded Blobs: ', recordedBlobs);
					    
						console.log();
						
						const superBuffer = new Blob(recordedBlobs, { 'type' : recordedBlobs[0].type });
						
						var recordedVideo = $("#audioTest")[0];
						
						console.log(superBuffer);
						recordedVideo.src = window.URL.createObjectURL(superBuffer);
						recordedVideo.controls = true;
						recordedVideo.play();
					  };
					  mediaRecorder.ondataavailable = handleDataAvailable;
					  mediaRecorder.start();
				});
				
			});
			
			$("#testRecordStop").click(function () {
				mediaRecorder.stop();	
			
			});
			
			
			
			serverConnection = new ServerConnection();
			serverConnection.onData = function(data) {
				
				if(data.type == 'signal') {								
					if(data.signal == 'join') {								
						
						participants.push(data.user);
						updateParticipants();
					} else if(data.signal == 'enter') {
						
						participants = data.users;
						updateParticipants();						
						
						for(var i = 0;i < participants.length;i++) {

							currentCall.addConnection(participants[i]);
						}
							
					} else if(data.signal == 'offer') {
						
						currentCall.addConnectionByOffer(data.id, data.data);						
					} else if(data.signal == 'answer') {
						
						currentCall.setAnswer(data.id, data.data);						
					} else if(data.signal == 'ice') {
						
						currentCall.setCandidate(data.id, data.data);						
					}
				}
			}			
			serverConnection.connect();
		});
	</script>
</head>
<body>
	<button id="testRecord">Test</button>
	<button id="testRecordStop">Stop</button>
	<audio id="audioTest"></audio>
	<p>
	<input type="text" id ="newCallText" value="Call">
	<button id="startCall">Create Call</button>
	<p>	
	
	<div id="callContainer">
	</div>
	<p>
	
	<div id="participantsContainer"></div>
	<div id="activeCallContainer">
		<div id="videoElements">
		</div>
	</div>
</body>
</html>