<!DOCTYPE html>
<html>
<head>

	
	{% load static %}

	<meta charset="ISO-8859-1">
	<title>VOFFice</title>
	
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<script src="{% static "VOfficeApp/js/Basic.js" %}"></script>
	<style type="text/css">
		.selectBox{
			border-style: inset;
			margin: 1px;
			overflow-y: scroll;
			height : 10vh;
		}
		.selectPermissionBox{
			border-style: inset;
			margin: 1px;
			overflow-y: scroll;
			height : 10vh;
			width: 300px;
			float: left;
		}
		.selectPermissionButton{
			margin: 3px;
			float: left;
		}
		
	</style>
	<script type="text/javascript">

	
		var permissionData = null;
		var lastSelectedRole = -1;
		var lastSelectedDesignation = -1;
		
		function updatePermissions(roleIndex) {
			lastSelectedRole = roleIndex;
						
			var permissions = permissionData.roles[roleIndex].permissions;
			
			var availablePermissions = permissionData.permissions.filter(function (permission) {

		    	for(var p = 0; p < permissions.length; p++) {
		    		if(permission.id == permissions[p].id) {
		    			return false;	
		    		}
		    	}
	    		return true;
		   });
			
			var html = '';
			for (var i = 0; i < availablePermissions.length; i++) {
				html += '<option value="' + availablePermissions[i].id + '">';
				html += availablePermissions[i].description;
				html += '</option>';
			}
			
			$("#addPermissionBox").html(html);
			
			
			html = '';
			for (var i = 0; i < permissions.length; i++) {
				html += '<option value="' + permissions[i].id + '">';
				html += permissions[i].description;
				html += '</option>';
			}
			
			$("#removePermissionBox").html(html);
			
		}
		function updateDesignations(designationsIndex) {
			lastSelectedDesignation = designationsIndex;
						
			var roles = permissionData.designations[designationsIndex].roles;
			
			var availableRoles = permissionData.roles.filter(function (role) {

		    	for(var p = 0; p < roles.length; p++) {
		    		if(role.id == roles[p].id) {
		    			return false;	
		    		}
		    	}
	    		return true;
		   });
			
			var html = '';
			for (var i = 0; i < availableRoles.length; i++) {
				html += '<option value="' + availableRoles[i].id + '">';
				html += availableRoles[i].name;
				html += ' | ';
				html += availableRoles[i].description;
				html += '</option>';
			}
			
			$("#addDesignationBox").html(html);
			
			
			html = '';
			for (var i = 0; i < roles.length; i++) {
				html += '<option value="' + roles[i].id + '">';
				html += roles[i].name;
				html += ' | ';
				html += roles[i].description;
				html += '</option>';
			}
			
			$("#removeDesignationBox").html(html);
			
		}
		function updatePermissionData() {
			getData("getPermissionData" , function(data) {

				console.log(data);
				permissionData = data;
				
				var html = '';
				for (var i = 0; i < data.roles.length; i++) {					
					
					html += '<input type="radio" name="selectRole" index=' + i;
					html += ' roleId=' + data.roles[i].id;	
					html += '>';	
					html += data.roles[i].name;	
					html += ' | ';
					html += data.roles[i].description;	
					html += '<br/>';
				}

				$("#roleSelect").html(html);
				$("input[name='selectRole']").change(function(){
					
					var roleIndex = parseInt($("input[name='selectRole']:checked").attr("index"))
					
					updatePermissions(roleIndex);
				});
				
				
				html = '';
				for (var i = 0; i < data.designations.length; i++) {					
					
					html += '<input type="radio" name="selectDesignations" index=' + i;
					html += ' designationId=' + data.designations[i].id;	
					html += '>';	
					html += data.designations[i].name;	
					html += ' | ';
					html += data.designations[i].description;	
					html += '<br/>';
				}

				$("#designationSelect").html(html);
				$("input[name='selectDesignations']").change(function(){
					
					var index = parseInt($("input[name='selectDesignations']:checked").attr("index"))
					
					updateDesignations(index);
				});
				
				
				if(lastSelectedRole > -1) {
					$("input[name='selectRole']")[lastSelectedRole].checked = true;
					updatePermissions(lastSelectedRole);
				}
				if(lastSelectedDesignation > -1) {
					$("input[name='selectDesignations']")[lastSelectedDesignation].checked = true;
					updateDesignations(lastSelectedDesignation);
				}
			});
		}
		
		$(document).ready(function () {			
									
			updatePermissionData();
			
			$("#newRoleButton").click(function () {

				sendData("addRole" , {
					name: $("#newRoleName").val(),
					description: $("#newRoleDesc").val()
				}, function(){		
					updatePermissionData();
				});
				
			});
			$("#addPermissionButton").click(function () {
				
				var roleId = parseInt($("input[name='selectRole']:checked").attr("roleId"));
								
				var selected = $("#addPermissionBox").find(":selected");
				for (var i = 0; i < selected.length; i++) {

					
					sendData("assignRolePermission" , {
						role: roleId,
						permission: selected[i].value
					}, function(){	
						updatePermissionData();
					});
				}
			});
			
			$("#removePermissionButton").click(function () {
				
				var roleId = parseInt($("input[name='selectRole']:checked").attr("roleId"));
				
				var selected = $("#removePermissionBox").find(":selected");
				for (var i = 0; i < selected.length; i++) {

					
					sendData("removeRolePermission" , {
						role: roleId,
						permission: selected[i].value
					}, function(){	
						updatePermissionData();
					});
				}
			});
			
			$("#newDesignationButton").click(function () {
				
				sendData("addDesignation" , {
					name: $("#newDesignationName").val(),
					description: $("#newDesignationDesc").val()
				}, function(){		
					updatePermissionData();
				});
				
			});
			$("#addDesignationButton").click(function () {
				
				var designationId = parseInt($("input[name='selectDesignations']:checked").attr("designationId"));
								
				var selected = $("#addDesignationBox").find(":selected");
				for (var i = 0; i < selected.length; i++) {

					
					sendData("assignDesignationRole" , {
						role: selected[i].value,
						designation: designationId
					}, function(){	
						updatePermissionData();
					});
				}
			});
			
			$("#removeDesignationButton").click(function () {
				
				var designationId = parseInt($("input[name='selectDesignations']:checked").attr("designationId"));
				
				var selected = $("#removeDesignationBox").find(":selected");
				
				for (var i = 0; i < selected.length; i++) {

					
					sendData("removeDesignationRole" , {
						role: selected[i].value,
						designation: designationId
					}, function(){	
						updatePermissionData();
					});
				}
			});
		});
	</script>
</head>
<body>

	<form method="Post" action='{% url "logoutView" %}'>
		{% csrf_token %}
		<button type="submit" >Logout</button>
	</form>	
	<br/>
	---------------------------------------------------------------
	<p/>
	<h2>Role</h2>
	<br>
	<input type="text" id="newRoleName" value="role"/>
	<input type="text" id="newRoleDesc" value="description"/>
	<button id="newRoleButton">Add Role</button>
	<br>
	---------------------------------------------------------------
	<p/>
	<div class="selectBox" id="roleSelect">	
	</div>
	<div style="height:100px;width:100%">
		<select id="addPermissionBox" class="selectPermissionBox" multiple>
			<option>dwadwa</option>
		</select>
		<div class="selectPermissionButton">
			<button id="addPermissionButton">&gt;</button>
			<br>
			<button id="removePermissionButton">&lt;</button>
		</div>
		<select id="removePermissionBox" class="selectPermissionBox" multiple>
			<option>dwadwa</option>
		</select>		
	</div>
	<p>
	---------------------------------------------------------------
	<br>
	<h2>Designation</h2>
	<br>
	<input type="text" id="newDesignationName" value="designation"/>
	<input type="text" id="newDesignationDesc" value="description"/>
	<button id="newDesignationButton">Add Designation</button>
	
	<br>
	<div class="selectBox" id="designationSelect">	
	</div>
	<div style="height:100px;width:100%">
		<select id="addDesignationBox" class="selectPermissionBox" multiple>
			<option>dwadwa</option>
		</select>
		<div class="selectPermissionButton">
			<button id="addDesignationButton">&gt;</button>
			<br>
			<button id="removeDesignationButton">&lt;</button>
		</div>
		<select id="removeDesignationBox" class="selectPermissionBox" multiple>
			<option>dwadwa</option>
		</select>		
	</div>	
	
	
</body>
</html>