<!DOCTYPE html>
<html>
<head>

	
	{% load static %}

	<meta charset="ISO-8859-1">
	<title>VOFFice</title>
	
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<script src="{% static "js/Basic.js" %}"></script>

	<script type="text/javascript">

		var defaultUrl = "../static/VOfficeApp/images/default_avatar.png";
		var users = null;
		
		function testAddBranch(branches) {

			var html = '<ul>';
			for(var b = 0; b < branches.length; b++) {
				html += '<li>';
				html += '<button onclick="testAddLevel(' + branches[b].id  + ',\'branch\')">' + branches[b].name + '</button>';	
				html += '<ul>';
				for(var d = 0; d < branches[b].departments.length; d++) {
	
					html += '<li>';
					html += branches[b].departments[d].name;				
					html += '</li>';
				}	
				
				html += '</ul>';
				html += '</li>';
			}
			html += '</ul>';
			return html;
		}
		function testAddBranchSelect(branches, space) {

			var html = '';
			
			
			for(var b = 0; b < branches.length; b++) {

				html += fillSpace(space) + '<input type="radio" name="testSelectLevel" levelType="branch" levelId=' + branches[b].id + '>';
				html += branches[b].name;
				html += '<br/>';

				html += testGetUserList(branches[b].users, space + 1);
				
				for(var d = 0; d < branches[b].departments.length; d++) {
	
					html += fillSpace(space + 1) + '<input type="radio" name="testSelectLevel" levelType="department" levelId=' + branches[b].departments[d].id + '>';

					html += branches[b].departments[d].name;	
					html += '<br/>';
					var users = branches[b].departments[d].users;
					html += testGetUserList(users, space + 2);
					
					
				}	
				
			}

			return html;
		}
		function testGetUserList(users, space) {
			
			var html = '';
			
			for(var u = 0; u < users.length; u++) {

				html += fillSpace(space) + '-' + users[u].email;
				html += '<br/>';
			}

			return html;
		}
		function testAddLevel(parentId, parentType) {
			
			sendData("addLevel" , {
				name: $('#testNewLevelName').val(),
				parent: parentId,
				parentType: parentType,
				isGroup: $('#testCheckGroup').prop("checked")
			}, function(){	
				$('#testEmail').val("");
			});
		}
		function fillSpace(count) {
			var out = "";
			
			for(var i = 0; i < count * 5; i++) {
				out += "&nbsp;"
			}
			
			return out;
		}
		function uploadFile() {
			
			var userId = parseInt($("input[name='testSelectUser']:checked").attr("userId"))
			
			var fd = new FormData();
			var files = $('#file')[0].files[0]; 
            fd.append('file', files); 
            fd.append('csrfmiddlewaretoken', getCookie('csrftoken')); 
            fd.append('user', userId); 
            
			$.ajax({
				url : '/uploadProfileImage',
				method : 'POST',
				data : fd,
				cache: false,
	            contentType: false,
	            processData: false
				
			}).done(function() {

			}).fail(function(e) {
					console.log(e);
			});
		}
		$(document).ready(function () {			
			
			getData("listUsers/employee" , function(data) {
						
				users = data.users;
				console.log(data);
				var html = '';
				for (var userId in data.users) {

					user = users[userId];				
					
					
					html += '<input type="radio" name="testSelectUser" userId=' + user.id + '>';
					html += user.firstname;	
					html += '<br/>';
				}

				$("#testSelect").html(html);
				$("input[name='testSelectUser']").change(function(){
					
					var userId = parseInt($("input[name='testSelectUser']:checked").attr("userId"))
					
					user = users[userId];
					var imageUrl = defaultUrl;
					if(user.profileImage > -1) {
						
					}
					imageUrl = "/voffice/image/" + user.id;
					$("#profileImage").attr("src", imageUrl);
					
					getData("getUserInformation/" + userId, function(data) {
						$("#testPhoneNumber").val(data.phone);
						$("#testBioText").val(data.bio);
					});
				});
			});
			$("#testSaveButton").click(function () {
				
				var userId = parseInt($("input[name='testSelectUser']:checked").attr("userId"))
				
				sendData("setUserInformation" , {
					user: userId,
					phone: $("#testPhoneNumber").val(),
					bio: $("#testBioText").val()
				}, function(){					
				});
				
			});
			
			$("#uploadButton").click(function () {

				uploadFile();
			});
		});
	</script>
</head>
<body>

	
	
	<div id="testSelect">
	</div>
	
	<p/>
	Phone Number: <input type="text" id="testPhoneNumber"/>
	<br/>
	Bio
	<br/>
	<textarea rows="5" cols="60" id="testBioText"></textarea>
	<br/>	
	<button id="testSaveButton" >Save</button>
	<br>
	<img width=128 id="profileImage" src=''></img>
	<input type="file" name="file" id="file">
    <button id="uploadButton">Upload</button>
</body>
</html>